* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.App {
    width: 800px;
}

.post-enter {
    opacity: 0;
}
.post-enter-active {
    opacity: 1;
    transition: opacity 400ms ease-in;
}
.post-exit {
    opacity: 1;
    transform: translateX(0px);
}
.post-exit-active {
    opacity: 0;
    transform: translateX(-400px);
    transition: all 400ms ease-in;
}

.loader {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}